<div id="foodTableImg">
  <img
    src="https://images.unsplash.com/photo-1576867757603-05b134ebc379?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"
    alt="Food Table"
  />
  <div id="textDiv">
    <h1>Ristorante Il Gambero Rosso</h1>
    <p>Delivering great food for more than 18 years!</p>
    <div id="btnDiv">
        <button type="button" class="btn btn-success" routerLink="/menu">Our Menu</button>
        <button type="button" class="btn btn-success">Book a Table</button>
    </div>
  </div>
</div>
<br><br><br>
<app-about-us></app-about-us>
<br>
<h1 id="specials">Check Our Specials</h1>
<p id="specialsParagraph">Our menu is bursting with exciting Il Gambero Rosso dishes, from Rustica Pizzas and mouth-watering Pasta, to adventurous salads and indulgent desserts.</p>
<br>
<div id="specialsDiv">
  <div>
    <h3>Glimpse of what we do...</h3>
    <p>We do things a bit differently here, we always add a little twist to the classics to keep the Great Times rolling.</p>
    <p>Why not try our take on a Carbonara, topped with a chorizo crumb to spice things up. Ingredients like vegan jackfruit, ‘Nduja sausage and wild boar meatballs (to name only a few), let your inner foodie to shine.</p>
    <button type="button" class="btn btn-success" routerLink="/menu">Check out Our Specials</button>
  </div>
  <div id="imgDiv">
    <img src="https://images.unsplash.com/photo-1570549986390-6bd150ac3515?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1228&q=80" alt="Pasta">
  </div>
</div>
<br><br>
