#middleHeader{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 60px;
}

#middleDescription{
    display: flex;
    justify-content: center;
}

#imgDiv{
    width: auto;
    height: 50vh;

    img{
        width: auto;
        height: 50vh;
    }
}

#textDiv{
    margin-left: 30px;

    h1{
        font-family: 'Noto Sans JP', sans-serif;
    }
    p{
        font-size: 22px;
        font-family: 'Noto Serif Gujarati', serif;
    }
}

#whyUsDiv{
    width: auto;
    display: flex;
    justify-content: center;
    #secondTextDiv{
        width: 95%;
        background-color: rgba(206, 206, 206, 0.437);
        padding: 10px 10px;

    }
    
    #whyUsParagraph{
        margin:0px 20%;
        font-size: 22px;
        font-family: 'Noto Serif Gujarati', serif;
    }

    h1{
        text-align: center;
        font-size: 60px;
        font-family: 'Dancing Script', cursive;
    }

    dl{
        display: flex;
        justify-content: space-around;

        dt{
            font-size: 18px;
        }
        
        h4{
            font-family: 'Noto Sans JP', sans-serif;
            font-weight: bold;
        }

        p{
            font-size: 20px;
            font-family: 'Noto Serif Gujarati', serif;
        }

        div{
            margin:0px 2%;
        }
    }
}