<br>
<h1 id="middleHeader">Ristorante Il Gambero Rosso</h1>
<br><br>
<div id="middleDescription">
    <div id="imgDiv">
        <img src="https://images.unsplash.com/photo-1504718855392-c0f33b372e72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="Restaurant">
    </div>
    <div id="textDiv">
        <h1>Our Story</h1>
        <p>At Il Gambero Rosso we’re all about delicious Italian food with a twist to surprise and delight all tastes <br> because good food does more than fill you up, it brings people together. <br> Since first opening our doors and firing up our signature pizza ovens in Chiswick over 20 years ago <br> we’ve opened over 130 restaurants across the UK & Ireland, each individually designed <br> with touches unique to the local area and perfect for all occasions.</p>
        <p>Our RESTAURANTS are the perfect place to get together. We’ve thought of everything <br> from tasty cocktails to 18 inch Rustica Pizzas. <br><br> <b>All you need to do is sit back, relax and we’ll take care of the rest.</b>
        </p>
    </div>
</div>
<br><br>
<div id="whyUsDiv">
    <div id="secondTextDiv">
        <h1>Why choose us</h1>
        <br>
        <p id="whyUsParagraph">Since 1931, we’ve come to realize that things have really changed. But a taste of the past can be fundamental when building tradition with your family and friends. There’s something that can be said about being served up a heap of pasta, topped in a sauce that’s been simmered the same way for over almost 90 years. A lot of Italian restaurants have modernized and strayed from an authentic experience, but we pride ourselves in giving you a traditional meal that will bring back memories and help you build new ones.</p>
        <br>
        <dl>
            <div>
                <dt>01</dt>
                <dd><h4> A new approach</h4></dd>
                <dd><p>We’re taking a new approach by preserving the old ways.</p></dd>
            </div>
            <div>
                <dt>02</dt>
                <dd><h4>An exceptional dining experience</h4></dd>
                <dd><p>To be precise, but one that takes place in a casual atmosphere reminiscent of the quaint eateries and wine bars of the Italian countryside.</p></dd>
            </div>
            <div>
                <dt>03</dt>
                <dd><h4>Finest imported ingredients</h4></dd>
                <dd><p>Imported direct from Italy are the beauty, comfort, romance, and glorious recipes. Specialty dishes include perfectly prepared pasta dishes using the finest imported and local ingredients.</p></dd>
            </div>
        </dl>
    </div>
</div>
<br><br>
