#header{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

#cartDiv{
    margin: 10px 15%;
}

form{
    p{
        font-size: 18px;
        font-family: 'Noto Sans JP', sans-serif;
    }

    input{
        width: 100%;
        height: 45px;
    }
}

#orderForm{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}